<h1>Welcome</h1>

<p>This is Small Hotel example with following chracteristics:</p>
<ul>
    <li><strong>Source code available</strong> on <a href="https://github.com/ezeljko1981?tab=repositories">this link</a></li>
    <li>This example is created by <a href="https://www.linkedin.com/in/zeljkoeremic/">Željko Eremić</a></li> 
</ul>
<p>Important technologies used in this example:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><strong>MS SQL Server Management Studio</strong> for database</li>
    <li><strong>Entity Framework Core</strong> models including database context class</li>
    <li>Manipulating Data Using <strong>LINQ</strong></li>
    <li><strong>Web Services</strong> using ASP.NET Core and <strong>JSON</strong> serialization</li>
    <li>Click on <strong>Reservate room here</strong> on the left side to try this demo site!</li>
</ul>